<div class="a">
  <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
    <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
    <br/>
    <input type = "text" name = "lastname" placeholder = "lastname" ngModel>
    <input type = "text" name = "firstname" placeholder = "firstname" ngModel>
    <br/>
    <input class="button" type = "submit" value = "submit">
 </form>
 
 <div class="loader" *ngIf="!loading"></div>
 
 <!-- <caption>2019 Fourth Quarter Report</caption> -->
 <div  class="container">
   <table class="table table-bordered" *ngFor="let item of get">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{item.firstname}}</td>
          <td>{{item.lastname}}</td>
          <td>{{item.emailid}}</td>
        </tr> 
      </tbody>
    </table>
  
  </div>
  <div class="text-center">
    <h1 class="h1s margin-top:20px">Upload the file</h1>
    
    <label class="form-label" for="customFile">Default file input example</label>
<input type="file" class="form-control inputs" id="customFile"  placeholder="Upload the file" (change)="onChange($event)"/>
    
    <button (click)="onUpload()" 
    class="btn btn-success">
    Upload
  </button>
  
</div>
<div class="card">
  <div class="card-header">List of Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of file"
  >
    <li class="list-group-item">
      <a href="{{ file.url }}"  download>{{ file.name }}</a>
   </li>
  </ul>
</div>




</div> 
